In [31]:
import numpy as np
import pandas as pd

In [32]:
df_bm_train = pd.read_csv('bigmart_train.csv')
df_bm_test = pd.read_csv('bigmart_test.csv')

In [33]:
df_bm_train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [34]:
df_bm_test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [35]:
df_bm_train.shape

(8523, 12)

In [36]:
df_bm_test.shape

(5681, 11)

In [37]:
df_bm_train.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [38]:
df_bm_test.isna().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [39]:
df_median_item_weights = df_bm_train.groupby(['Item_Type'],as_index=False).agg({'Item_Weight': np.median})

In [40]:
df_median_item_weights

                Item_Type  Item_Weight
0            Baking Goods       11.650
1                  Breads       10.600
2               Breakfast       10.695
3                  Canned       12.150
4                   Dairy       13.350
5            Frozen Foods       12.850
6   Fruits and Vegetables       13.100
7             Hard Drinks       10.100
8      Health and Hygiene       12.150
9               Household       13.150
10                   Meat       12.350
11                 Others       14.500
12                Seafood       11.650
13            Snack Foods       13.150
14            Soft Drinks       11.800
15          Starchy Foods       13.175

In [41]:
#df_median_item_weights = pd.DataFrame(data=df_median_item_weights.values, columns =['Item_Type','Avg_Item_Weight'])

df_median_item_weights.columns = ['Item_Type','Avg_Item_Weight']

In [42]:
df_median_item_weights

                Item_Type  Avg_Item_Weight
0            Baking Goods           11.650
1                  Breads           10.600
2               Breakfast           10.695
3                  Canned           12.150
4                   Dairy           13.350
5            Frozen Foods           12.850
6   Fruits and Vegetables           13.100
7             Hard Drinks           10.100
8      Health and Hygiene           12.150
9               Household           13.150
10                   Meat           12.350
11                 Others           14.500
12                Seafood           11.650
13            Snack Foods           13.150
14            Soft Drinks           11.800
15          Starchy Foods           13.175

In [43]:
df_bm_train = pd.merge(left=df_bm_train, 
                       right = df_median_item_weights, 
                       on = ['Item_Type'], 
                       how='left')

In [44]:
df_bm_train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Avg_Item_Weight
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,13.35
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,11.80
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,12.35
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,13.10
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,13.15

In [45]:
df_bm_train.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales', 'Avg_Item_Weight'],
      dtype='object')

In [46]:
df_bm_train['Item_Weight'] = df_bm_train.apply(lambda x: x[12] if pd.isna(x[1]) else x[1], axis=1)

In [47]:
df_bm_train.isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
Avg_Item_Weight                 0
dtype: int64

In [48]:
df_bm_train['Outlet_Size'].unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [49]:
df_bm_train['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [50]:
df_bm_train['Outlet_Size'] = df_bm_train['Outlet_Size'].apply(lambda x: 'Medium' if pd.isna(x) else x)

In [51]:
df_bm_train.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
Avg_Item_Weight              0
dtype: int64

In [52]:
df_bm_train['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [53]:
df_bm_train['Item_Fat_Content'] = df_bm_train['Item_Fat_Content'].map({'Low Fat': 'Low Fat',
                                                                       'Regular': 'Regular',
                                                                       'low fat': 'Low Fat',
                                                                       'LF': 'Low Fat',
                                                                       'reg': 'Regular'
                                                                      })

In [54]:
df_bm_train['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [55]:
df_bm_train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Avg_Item_Weight
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,13.35
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,11.80
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,12.35
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800,13.10
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,13.15

In [100]:
scaler = StandardScaler()

In [56]:
df_bm_train.drop(['Item_Identifier','Outlet_Identifier','Avg_Item_Weight'],axis=1, inplace=True)

In [57]:
df_bm_train.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,Low Fat,0.016047,Dairy,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.92,Regular,0.019278,Soft Drinks,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.50,Low Fat,0.016760,Meat,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,1998,Medium,Tier 3,Grocery Store,732.3800
4,8.93,Low Fat,0.000000,Household,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052

In [58]:
df_bm_train['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [59]:
df_bm_train = pd.get_dummies(columns=['Item_Fat_Content','Item_Type','Outlet_Size','Outlet_Location_Type','Outlet_Type'], 
                             drop_first=True,
                             data=df_bm_train)

In [60]:
df_bm_train.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Fat_Content_Regular,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,...,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.30,0.016047,249.8092,1999,3735.1380,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0
1,5.92,0.019278,48.2692,2009,443.4228,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
2,17.50,0.016760,141.6180,1999,2097.2700,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
3,19.20,0.000000,182.0950,1998,732.3800,1,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
4,8.93,0.000000,53.8614,1987,994.7052,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0

In [61]:
df_bm_train.shape

(8523, 28)

In [62]:
df_bm_train['Outlet_Age'] = df_bm_train['Outlet_Establishment_Year'].apply(lambda x: 2021-x)

In [63]:
df_bm_train.drop(['Outlet_Establishment_Year'],axis=1, inplace=True)

In [65]:
df_bm_train.head()

,Item_Weight,Item_Visibility,Item_MRP,Item_Outlet_Sales,Item_Fat_Content_Regular,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,...,Item_Type_Soft Drinks,Item_Type_Starchy Foods,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Outlet_Age
0,9.30,0.016047,249.8092,3735.1380,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,22
1,5.92,0.019278,48.2692,443.4228,1,0,0,0,0,0,...,1,0,1,0,0,1,0,1,0,12
2,17.50,0.016760,141.6180,2097.2700,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,22
3,19.20,0.000000,182.0950,732.3800,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,23
4,8.93,0.000000,53.8614,994.7052,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,34

In [66]:
X_train = df_bm_train.drop(['Item_Outlet_Sales'], axis=1)
y_train = df_bm_train[['Item_Outlet_Sales']]

In [67]:
X_train.head()

,Item_Weight,Item_Visibility,Item_MRP,Item_Fat_Content_Regular,Item_Type_Breads,Item_Type_Breakfast,Item_Type_Canned,Item_Type_Dairy,Item_Type_Frozen Foods,Item_Type_Fruits and Vegetables,...,Item_Type_Soft Drinks,Item_Type_Starchy Foods,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Outlet_Age
0,9.30,0.016047,249.8092,0,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0,22
1,5.92,0.019278,48.2692,1,0,0,0,0,0,0,...,1,0,1,0,0,1,0,1,0,12
2,17.50,0.016760,141.6180,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,22
3,19.20,0.000000,182.0950,1,0,0,0,0,0,1,...,0,0,1,0,0,1,0,0,0,23
4,8.93,0.000000,53.8614,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,34

In [101]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [102]:
df_bm_train = scaler.fit_transform(df_bm_train)

In [ ]:
#df_bm_test = scaler.transform(df_bm_test)

In [103]:
from sklearn.linear_model import LinearRegression

In [104]:
bm_model = LinearRegression()
bm_model.fit(X_train,y_train)

LinearRegression()

In [105]:
y_tr_pred = bm_model.predict(X_train)

In [106]:
from sklearn.metrics import r2_score, mean_squared_error

In [107]:
r2_score(y_pred=y_tr_pred, y_true=y_train)

0.5634665404828418

In [108]:
mean_squared_error(y_pred=y_tr_pred, y_true=y_train, squared=False)

1127.4297333380264

In [76]:
df_bm_test = pd.merge(left = df_bm_test,
                      right = df_median_item_weights,
                      on = ['Item_Type'],
                      how='left')

In [77]:
df_bm_test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Avg_Item_Weight
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1,13.15
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1,13.35
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store,14.50
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1,13.15
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3,13.35

In [78]:
df_bm_test.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Avg_Item_Weight'],
      dtype='object')

In [79]:
df_bm_test['Item_Weight'] = df_bm_test.apply(lambda x: x[11] if pd.isna(x[1]) else x[1], axis=1)

In [80]:
df_bm_test['Outlet_Size'].fillna('Medium', inplace=True)

In [81]:
from sklearn.linear_model import Ridge, Lasso, ElasticNet

In [86]:
bm_ridge_model = Ridge(alpha=0.1)
bm_ridge_model.fit(X_train,y_train)

Ridge(alpha=0.1)

In [87]:
y_tr_pred_ridge = bm_ridge_model.predict(X_train)

In [88]:
mean_squared_error(y_pred=y_tr_pred_ridge, y_true=y_train, squared=False)

1127.429983789974

In [89]:
r2_score(y_pred=y_tr_pred_ridge, y_true=y_train)

0.5634663465360903

In [90]:
bm_lasso_model = Lasso(alpha=0.1)
bm_lasso_model.fit(X_train,y_train)
y_tr_pred_lasso = bm_lasso_model.predict(X_train)

In [91]:
mean_squared_error(y_pred=y_tr_pred_lasso, y_true=y_train, squared=False)

1127.4454764776372

In [92]:
r2_score(y_pred=y_tr_pred_lasso, y_true=y_train)

0.563454349115208

In [96]:
bm_enet_model = ElasticNet(alpha=0.1, l1_ratio=0.3)
bm_enet_model.fit(X_train,y_train)
y_tr_pred_enet = bm_enet_model.predict(X_train)

In [97]:
mean_squared_error(y_pred=y_tr_pred_enet, y_true=y_train, squared=False)

1238.9003385169508

In [98]:
r2_score(y_pred=y_tr_pred_enet, y_true=y_train)

0.4728777938797877